<div class="content-wrap">
	<div id='selected_movie'>
		Movies Related to: <span id='selected'> "<%= @user_choice%>"</span>
		<hr>
	</div>
	<% @recommended_movies.each do |key, detail|%>
		<div class='movie_info'>
			<span class='details'><p class='headings'>Title: </p><h3 id ='title'><%= detail['Title'] %></h3></span>
			</br>
			<span class='details'><p class='headings'>Genre: </p><h3><%= detail['Genre'] %></h3></span>
			</br>
			<span class='details'><p class='headings'>Director: </p><h3><%= detail['Director'] %></h3></span>
			</br>
			<span class='details'><p class='headings'>Studio: </p><h3><%= detail['Studio'] %></h3></span>
			</br>
			<span class='details'><p class='headings'>Release year: </p><h3><%= detail['Release year']%></h3></span>
			</br>
			<span class='details'><p class='headings'>Rating: </p><h3><%= detail['Rating'] %></h3></span>
			</br>
			<span class='details'><p class='headings'>URL:</p><a href=<%= detail['URL'] %>> <h3><%= detail['URL'] %> </h3></a></span>
			</br>
			<span class='details'><p class='headings' >Description: </p><h3 id='desc'><%= detail['Description'] %></h3></span>
			</br>
		</div>
		<hr>
	<%end%>
</div>

<style type='text/css'>
header {	
	color: #678;
	width: 1024px;
	height: 100px;
	margin: auto;
}
body{
	background-color: #456;	
}
.content-wrap{
		background-color: #fafafa;
		margin: auto;
		width: 1024px;
		padding-left: 10px;
		margin-top: 100px;
		/*padding-top: 50px;*/
		padding: 50px;
}

#selected_movie{
	font-size: 14px;
}
#selected{
	color: #f721c5;
}

#selected_movie span{
	font-size: 20px;
}
.movie_info .details p,
.movie_info .details h3{
    display: inline;
}
#title{
	color: #0474e4;
}
#desc{
	font-size: 14px;
}
.headings{
	font-size: 16px;
	font-style: italic;
}
</style>
